* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    padding: 0px 15px;
    margin: 0 auto;
}

section {
    display: flex;
    justify-items: center;
    align-items: center;
    flex: 1 0 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: absolute;
    width: 100%;
    height: 110px;
    z-index: 100;
    background-image: url("images/HeaderBackground.png");
    background-size: auto 100%;
} 

.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 140px;
    margin-left: 17px;
    margin-top: calc(20px + (27 * ((100vw - 550px) / 1280)));
    font-size: 36px;
    font-family: "Yeseva One";
    color: rgb(255, 255, 255);
    line-height: 0.8;
    text-align: center;
}

.header_content {
    display: flex;
    justify-content: end;
}

.header_menu {
    height: calc(50px + (20 * ((100vw - 550px) / 1280)));
}

.header_menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-top: -5px;
    height: 100%;
}

.header_menu_list li {
    height: 100%;
    width: auto;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.header_menu_link {
    font-size: 21px;
    font-family: "Gentium Book Basic";
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 0.8;
}

.header_menu_list li:hover {
    border-top: 10px solid rgb(255, 255, 255);
    opacity: 0.71;
}

.header_icons {
    font-size: 21px;
    font-family: "FontAwesome";
    font-style: normal;
    line-height: 1.2;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2px;
    margin-right: 55px;
}

.header_icons a {
    color: rgb(218, 179, 62);
    margin-left: 16px;
}

.header_icons a:hover {
    opacity: 0.71;
}

.header_icons:first-of-type {
    margin-left: -5px;
}
  
.promo_section {
    background-image: url("images/PromoSectionBackground.png");
}

.promo_text {
    font-size: 90px;
    font-family: 'Yeseva One';
    color: rgba(255, 255, 255, 0.922);
    text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
    text-align: center;
    line-height: 1.3;
    position: relative;
    margin-top: 65.8px;
}

.promo_divider {
    width: fit-content;
    margin: 25px auto 30px auto;
}

.promo_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 18px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin: 0 15px;
    width: 226px;
    height: 55px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.278);
    opacity: 0.702;
}

.button:hover {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.702);
    opacity: 0.8;
}

.button_black {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.702);
    opacity: 0.8;
}

.button_white {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.278);
    opacity: 0.702;
}

.about_section {
    display: flex;
    flex: 1 0 100%;
    position: relative;
    background-image: url("images/AboutSectionBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: row;
      
}

.about_background {
    position: absolute;
    height: 100%;
    width: 100%;
}

.about_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.8%;
    margin-left: 19px;
}

.about_textcook {
    display:block;
    align-items: center;
}

.about_head {
    font-size: 36px;
    font-family: "Yeseva One";
    color: rgb(204, 153, 0);
    line-height: 0.667;
    text-align: center;
    margin-bottom: 1%;      
}

.about_divider {
    width: fit-content;
    margin: 5.5% auto 5.3% auto;
    
}

.about_text {
    font-size: 16px;
    font-family: "Lato";
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center;   
}

.about_cook {
    display: block;
    text-align: center;
    margin-left: 17%;
    margin-top: 12%;
    
}

.about_dish {
    display:block;
    text-align: center;
    position: relative;
    top: 16px;
    left: 3.5%;
}
.ingredients_section {
    background-image: url("images/IngredientsSectionBackground.png");
}

.ingredients_text_block {
    width: 430px;
    height: 417px;
    margin: 100px 40px 100px 640px;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 70px;
}

.ingredients_text_block h1 {
    font-size: 36px;
    font-weight: 100;
    font-family: "Yeseva One";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
}

.ingredients_divider {
    width: fit-content;
    margin: 9px auto 19px auto;
}

.ingredients_text {
    height: 115px;
    font-size: 16px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
}

.ingredients_images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 72px 0px 0px 0px;
}
  
  
@media (max-width: 1280px) {
    .promo_text {
        font-size: calc(35px + 55 * ((100vw - 550px) / 960));
    }
    .header_menu_list li {
        margin-left: calc(0px + (30 * ((100vw - 550px) / 960)));;
    }
    .ingredients_text_block {
        width: 430px;
        height: 417px;
        margin: 100px 40px 100px calc(0px + (540 * (100vw - 550px) / 960));
        padding: calc(45px + (25 * (100vw - 550px) / 960))
    }
}
  