* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    padding: 0px 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
    height: 110px;
    z-index: 100;
    background-size: 100% 100%;
}

.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 140px;
    margin-left: 15px;
    margin-top: calc(20px + (27 * ((100vw - 320px) / 1280)));
    font-size: 38px;
    font-family: "YesevaOne";
    color: rgb(255, 255, 255);
    line-height: 0.8;
    text-align: center;
}

.header_menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    height: 100%;
}

.header_menu_list li {
    height: 100%;
    padding-left: 50px;
}

.header_menu_link {
    font-size: 21px;
    font-family: "GentiumBookBasic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.8;
}

.promo_section {
    display: flex;
    justify-items: center;
    align-items: center;
    flex: 1 0 100%;
    position: relative;
    background-image: url("images/PromoSectionBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo_text {
    font-size: 120px;
    font-family: 'Yeseva One';
    color: rgba(255, 255, 255, 0.922);
    text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
    text-align: center;
    line-height: 1;
    position: relative;
    margin-top: 50px;
}

@media (max-width: 1280px) {
    .promo_text {
        font-size: calc(35px + 85 * ((100vw - 320px) / 960));
    }
}

.promo_divider {
    width: fit-content;
    margin: 34px auto;
}

.promo_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 18px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin: 0 15px;
    width: 226px;
    height: 55px;
}

.button_black {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.702);
    opacity: 0.8;
}

.button_white {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.278);
    opacity: 0.702;
}
  
  
  